* {
    /* background-color: #dcfff2; */
    background-color: #d3e7ee;
}

h1 {
    margin: 50px auto;
}

.grid-container {
    margin-top: 150px;
    margin-bottom: 250px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    flex-shrink: 3; 
    justify-content: center;
  }

.grid-item {
    width: 350px;
    height: 300px;
    background-color: #abd1dc;
    border-radius: 5%;
    

}

.grid-item:hover {
    color:#7097A8;

}



.grid-item p {
    margin-top: 40px;
    font-size: 150px;
    background-color: #abd1dc;
}

.grid-item h5 {
    background-color: #abd1dc;
}

.navbar h1 {
  color:#c6a477;
}

.doctor {
    height:600px;
}

.patient {
    height:600px;
}

.pharmacist { 
    height:600px;
}

.pharmacist h2 {
    padding-top: 150px;
}
.doctor h2 {
    padding-top: 150px;
}

.patient h2 {
    padding-top: 150px;
}

input {
    margin: 10px;
}


.btn {
    background-color: #ecd59f;
}






a {
    color: black;
    text-decoration: none;
  }
